@import "reset.css";

html,
body{
	height:100%;
}
	html{font-size:100%;}
	body{
		font:normal 13px/20px Arial;-webkit-font-smoothing:antialiased;color:#5c5c5c;overflow: hidden;
	}


.g_container {
	height: 100%;background: #66cecc;
}
	.app-wrapper {
		height: 100%;display: flex;flex: 1;
	}